// Colors //
$primBlue: #1254FF;
$primWhite: #fffeee;
$darkBlue: #1F232C;
$lightBlue: #242936;
$darkGray: #B0BFB9;
$lightGray: #D5E8DF;


// Fonts //
$title_font: 'Roboto Mono', monospace;
$p_font: 'Montserrat', sans-serif;


