@import "./variables";

.comment-section {
  background-color: $darkBlue;
  padding: 50px 0;

  form {
    input,
    textarea {
      width: 60%;
      margin: 0 auto;
      display: block;
      font-size: 20px;
      border: 1px solid $primBlue;
      padding: 10px 20px;
      background-color: transparent;
      color: $darkGray;
    }
    textarea {
      margin-top: 20px;
    }
  }
  a {
    text-decoration: none;
  }
  .button {
    border: 1px solid $primBlue;
    color: $primBlue;
    width: 100px;
    text-align: center;
    padding: 5px 0;
  }

  .button-blue {
    border: none;
    background-color: $primBlue;
    color: $primWhite;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  .each-comment {
    border: 1px solid $primBlue;
    width: 60%;
    margin: 0 auto;
    padding: 30px 40px;

    .vote-count {
      color: $lightGray;
    }
    .author {
      margin-top: 10px;
      font-size: 40px;
      color: $primBlue;
    }
    .comment {
      color: $lightGray;
      margin-top: 10px;
    }

    .wrap-vote {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $primBlue;
      margin-top: 20px;

      .agree,
      .disagree {
        display: flex;
        align-items: center;
      }

      .agree {
        margin-right: 30px;
      }
      .vote-text {
        margin-left: 5px;
      }
    }
  }
}
