@import "./variables";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;

    // For Nav Bar //
    .nav_container {
        width: 100%;
        height: 70px;
        position: absolute;
        background-color: $primBlue;
        .nav_logo {
            all: unset;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 30px;
            color: $primWhite;
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .nav_create_container {
            width: 93px;
            height: 93px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
            background-color: $primBlue;
            .nav_create_cross_container {
                width: 80%;
                height: 80%;
                background-color: $primBlue;
                border-radius: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.25s ease-in-out;
                cursor: pointer;
                .nav_create_cross {
                    width: 39px;
                    height: 3px;
                    position: absolute;
                    background-color: $primWhite;
                    &.vertical {
                        transition: 0.25s ease-in-out 0.05s;
                        transform: rotate(90deg);
                    }
                    &.horizontal {
                        transition: 0.25s ease-in-out;
                    }
                }
                &:hover {
                    transition: 0.25s ease-in-out;
                    box-shadow: 0px 0px 10px -3px rgba($color: #121647, $alpha: 0.6);
                }
                &:hover .vertical {
                    transition: 0.25s ease-in-out 0.05s;
                    transform: rotate(180deg); 
                }
                &:hover .horizontal {
                    transition: 0.25s ease-in-out;
                    transform: rotate(90deg);
                }
            }
        }
    }
    // Nav Bar End //



}

