
    <div class="nav_container">
        <div class="nav_create_container">
            <div class="nav_create_cross_container">
                <div class="nav_create_cross vertical"></div>
                <div class="nav_create_cross horizontal"></div>
            </div>
        </div>

    </div>

