<div class="nav_container">
  <a href="/" class="nav_logo">RIDDLES!</a>
  <div class="nav_create_container">
    <a href="/create" class="nav_create_cross_container">
      <div class="nav_create_cross vertical"></div>
      <div class="nav_create_cross horizontal"></div>
    </a>
  </div>
</div>