<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
    </head>
    <body>  
        <h1>Welcome to GuestBook</h1>
        <a href='/read'>Read Notes</a>
        <br>
        <a href='/write'>Write a Note</a>
    </body>
</html>