/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h3,
h2,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes fadin {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
body {
  width: 100%;
  background-color: #1F232C; }
  body * {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif; }

.header-container {
  display: flex;
  justify-content: center;
  background-color: #155af4; }
  .header-container header {
    width: 60%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-container header div {
      background-color: blue; }

.riddle-detail-container {
  padding-top: 80px;
  background-color: #F5F5F5;
  background-size: cover;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 350px;
  min-height: 350px;
  overflow: scroll; }
  .riddle-detail-container .riddle-detail {
    width: 62%; }
    .riddle-detail-container .riddle-detail .title {
      padding-top: 22px;
      padding-bottom: 20px;
      font-family: "Roboto Mono", monospace;
      color: #46FFA6;
      font-size: 35px; }
    .riddle-detail-container .riddle-detail .riddle-info {
      display: flex;
      justify-content: start;
      padding-bottom: 10px;
      font-size: 10px;
      font-weight: 100;
      color: #AFA5A5; }
      .riddle-detail-container .riddle-detail .riddle-info .author {
        padding-right: 10px;
        font-size: 14px;
        color: #B0BFB9; }
      .riddle-detail-container .riddle-detail .riddle-info .date {
        padding-right: 10px;
        font-size: 14px;
        color: #B0BFB9; }
    .riddle-detail-container .riddle-detail .content {
      color: #D5E8DF;
      font-size: 17px;
      font-weight: 100;
      padding-right: 10px;
      padding-bottom: 20px;
      line-height: 30px; }
    .riddle-detail-container .riddle-detail .form-like-container {
      width: 100%;
      position: relative;
      height: 20px; }
      .riddle-detail-container .riddle-detail .form-like-container .like-button {
        cursor: pointer; }
        .riddle-detail-container .riddle-detail .form-like-container .like-button svg {
          position: absolute;
          width: 24px;
          left: 50%;
          transform: translateX(-50%); }
        .riddle-detail-container .riddle-detail .form-like-container .like-button .like-count {
          color: #46FFA6;
          position: absolute;
          left: 50%;
          transform: translateX(50%);
          top: 2.5px;
          font-size: 20px;
          width: 50px; }
    .riddle-detail-container .riddle-detail .form-delete-container {
      width: 100%;
      height: 20px;
      position: relative; }
      .riddle-detail-container .riddle-detail .form-delete-container .delete-button {
        opacity: 0;
        animation: fadin 1.0s ease-in;
        animation-fill-mode: forwards;
        position: absolute;
        right: -175px;
        top: -20px;
        color: #46FFA6;
        font-family: "Roboto Mono", monospace;
        font-size: 18px;
        padding: 2px 26px;
        background-color: transparent;
        border: 1px solid #46FFA6;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.3s; }
        .riddle-detail-container .riddle-detail .form-delete-container .delete-button:hover {
          background-color: #46FFA6;
          color: #F5F5F5; }

/*# sourceMappingURL=riddle_detail.css.map */
